// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.post-btn{
  position: absolute;
  right: 45px;
  top: 6px;
}
.home-container{
  display: flex;
  justify-content: space-between;
}