.login-form{
  margin: auto;
  width: 50%;
  padding: 10px;
}

.login-head{
  text-align: center;
}

.form-label{
    text-align: center !important;
    width: 100% !important;
}

.field, .actions{
  text-align: center;
}
.field{
  margin-top: -9px;
}
.form-control{
  border-radius: 30px;
}