// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// Description-field design
.description-box{
  width: 215px;
  height: 63px;
}
.like-logo, .liked-logo{
  height: 32px;
}
.post{
  border: 2px solid black;
  margin-bottom: 40px;
  padding: 35px;
  border-radius: 35px;
  width: 50%;
  display: inline-block;
}