.all_users{
  border: 2px solid black;
  margin-bottom: 40px;
  padding: 35px;
  border-radius: 35px;
  width: 25%;
  display: inline-block;
  height: 300px;
  overflow-y: auto;
}
.user-list-index{
  // border: 2px solid black;
  margin: 15px;
  border-radius: 10px;
}
.user-list-index .profile_image{
  height: 50px;
  width: 50px;
}

.profile_image{
  height: 60px;
  width: 60px;
  object-fit: contain;
  border-radius: 50%;
}